{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>Insert your credentials</h2>
<form action="{% url "accountLogin" %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="status" class="form-label">Username</label>
    <input type="text" class="form-control text-center" id="username" name="username" maxlength="32" placeholder="johndoe" required>
  </div>
  <div class="form-group">
    <label for="status" class="form-label">Password</label>
    <input type="password" class="form-control text-center" id="password" name="password" maxlength="64" placeholder="Password" required>
  </div>
  {% if not_valid %}
    <div class="alert alert-danger" role="alert">
      <h5>Invalid username or password!</h5>
    </div>
  {% endif %}
  <button type="submit" class="btn btn-primary login-btn" id="login-submit">Login</button>
</form>
<br />
<br />
<p>Doesn't have an account?</p>
<a href="{% url 'accountSignup' %}"><button type="button" class="btn btn-info signup-btn">Signup</button></a>

{% endblock content %}
