{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>Insert your credentials</h2>
<form action="{% url "accountSignup" %}" method="POST">
{% csrf_token %}
  <div class="form-group">
    <label for="name" class="form-label">Name (Required)</label>
    <input type="text" class="form-control text-center" id="name" name="name" maxlength="175" placeholder="John Doe" required>
  </div>
  <div class="form-group">
    <label for="status" class="form-label">Email</label>
    <input type="email" class="form-control text-center" id="email" name="email" maxlength="175" placeholder="johndoe@example.com">
  </div>
  <div class="form-group">
    <label for="status" class="form-label">Username (Required)</label>
    <input type="text" class="form-control text-center" id="username" name="username" maxlength="32" placeholder="johndoe" required>
  </div>
  <div class="form-group">
    <label for="status" class="form-label">Password (Required)</label>
    <input type="password" class="form-control text-center" id="password1" name="password1" maxlength="64" placeholder="Password" required>
  </div>
  <div class="form-group">
    <label for="status" class="form-label">Password Confirmation (Required)</label>
    <input type="password" class="form-control text-center" id="password2" name="password2" maxlength="64" placeholder="Password" required>
  </div>
{% if not_valid %}
  <div class="alert alert-danger" role="alert">
    {% for field in form %}
      {{ field.errors }}
    {% endfor %}
    {% for field in form_extra %}
      {{ field.errors }}
    {% endfor %}
  </div>
{% endif %}
<button type="submit" class="btn btn-primary submit-btn" id="signup-submit">Signup</button>
</form>

{% endblock content %}
