{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="aboutPage">
  <h2 class="about-title">
    About Share for Care
  </h2>
  <p class="about-text">
    Share for Care is a website created for OpenHack hackathon 2020. The vision
    of the creator is to make an application that can help people that lack of
    basic necessities to meet with the people that have and willing to give them,
    especially in the current COVID-19 situation.
  </p>
  <p class="about-text">
    This site is created by Farhan, an undergraduate student from Indonesia. Link
    to his profile can be seen by clicking this link
    <span><a href="https://www.linkedin.com/in/farhanoktavian/" target="_blank">here</a></span>.
  </p>
</div>

{% endblock content %}
